<header class="header">
    <div class="container">
        <div class="row">
            <div class="logo col-sm-4 col-xs-12">
                <a href="/" title="我爱热可乐，轻松一刻">
                    <i class="fa"><img style="max-height: 50px" src="/public/images/logo.png" alt="我爱热可乐"></i>
                </a>
            </div>
            <ul class="site-navbar site-nav2 col-sm-8 hidden-xs">
                {% for item in categorys  %}
                <li>
                    <a href="/category/{{item.id}}">{{item.name}}</a>
                </li>
                {% endfor  %}
            </ul>
        </div>
    </div>
</header>