<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <script src="/public/js/jquery.min.js"></script>
</head>

<body>
    {% include "header.html" %}
    <section class="container mt-20" >
        <div class="row">
            <div class="col-sm-8">
                <div class="excerpts">
                    {% for content in contents %}
                    <article class="excerpt">
                        <a href="/content/{{ content.id }}" class="focus"><img src="/public/images/thumb.png" class="thumb"></a>
                        <h2><a href="/content/{{ content.id }}">{{content.title}}</a></h2>
                        <time>{{content.createAt|date('Y年m月d日 h:i:s',-480, 'CCT')}}</time><a class="cat" href="/category/{{ content.category.id }}">{{content.category.name}}</a>
                        <p class="note">
                            <a href="/content/{{ content.id }}">
                                <!--{% autoescape  %} {{content.content}} {% endautoescape  %}-->
                            </a>
                        </p>
                    </article>
                    {%  endfor %}
                </div>
            </div>
            <aside class="col-sm-4">
                {% include "aside.html"  %}
            </aside>
        </div>
    </section>
</body>

</html>