{%  extends 'layout.html' %}

{%  block content %}
    <div>
        <ol class="breadcrumb">
            <li><a href="/admin">管理首页</a></li>
            <li><span>博客分类</span></li>
        </ol>
        <h3>博客分类</h3>

        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>分类名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            {% for category in categorys  %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.createAt|date('Y年m月d日 h:i:s',-480, 'CCT')}}</td>
                    <td><a class="edit-category" data-id="{{category.id}}" data-name="{{category.name}}" href="##" data-toggle="modal" data-target="#myModal">修改</a>
                        <!--| <a href="#" class="delete-category" data-id="{{category.id}}">删除</a>-->
                    </td>
                </tr>
            {% endfor%}
        </table>
        <nav aria-label="...">
            <ul class="pager">
                <li><a href="category?page={{page-1}}&&size={{5}}">上一页</a></li>
                <li>当前一共有 {{totalSize}} 条数据，当前页 {{size}}</li>
                <li><a href="category?page={{page-0+1}}&&size={{5}}">下一页</a></li>
            </ul>
        </nav>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改分类名称</h4>
                </div>
                <div class="modal-body">
                    <h3 id="categoryName"></h3>

                    <div class="form-group">
                        <label for="text">修改名称</label>
                        <input type="text" class="form-control" id="text" placeholder="请输入需要修改的分类名称">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="confirmEdit">确认</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.delete-category').on('click',function(){
            let categoryId = $(this).data('id');
            $('#myModal').modal({
                show: true
            })
//            console.log(this,"window")
//            console.log(categoryId,'categoryId')
            $.ajax({
                url: "/api/category/delete",
                type: "post",
                data: {
                    id: categoryId
                },
                dataType: "json",
                success: function (rusult) {
                    if (rusult.code == 200) {
                        window.location.href="/admin/category/";
                    }
                }
            })
        })



        let options = {
            title:'修改分类名称',
            trigger:'click',
        }

        $('.edit-category').on('click',function(){
                let categoryId = $(this).data('id');
                let categoryName = $(this).data('name');
                $('#categoryName').html(categoryName);
                $('#confirmEdit').on('click',()=>{
                    let _editCategoryName = $('#text').val().trim();
                    $.ajax({
                        url: "/api/category/edit",
                        type: "post",
                        data: {
                            id: categoryId,
                            name:_editCategoryName
                        },
                        dataType: "json",
                        success: function (rusult) {
                            if (rusult.code == 200) {
                                window.location.href="/admin/category/";
                            }
                        }
                    })
                })
//                options.container = '#'
//                options.content = function () {
//                    return "<div>你的名字的是什么</div>"
//                }
//                $(this).popover(options);

//            let categoryId = $(this).data('id');
////            console.log(this,"window")
////            console.log(categoryId,'categoryId')
//            $.ajax({
//                url: "/api/category/edit",
//                type: "post",
//                data: {
//                    id: categoryId
//                },
//                dataType: "json",
//                success: function (rusult) {
//                    if (rusult.code == 200) {
//                        window.location.href="/admin/category/";
//                    }
//                }
//            })
        })
    </script>
{% endblock %}

