<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}} - {{SITE_DOCMENT_TITLE}}</title>
    <meta name="keywords" content="{{content.keywords}}" />
    <meta name="description" content="{{content.description}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <script src="/public/js/jquery.min.js"></script>
</head>

<body>
    {{ include "./header.html" }}
    <section class="container mt-20">
        <ol class="breadcrumb">
            当前位置：
            <li>
                <a href="/">{{SITE_DOCMENT_TITLE}}首页</a>
            </li>
            <li>
                <a href="/category/{{content.category.cid}}/0"> {{content.category.name}} </a>
            </li>
            <li>{{content.title}}</li>
        </ol>
        <div class="row">
            <div class="col-lg-8">
                <div class="content">
                    <article class="article-content panel">
                        <header class="article-header">
                            <h1 class="article-title">{{content.title}}</h1>
                            <div class="article-meta">{{content.createAt|dateFormat }} |
                                <a href="/category/{{content.category.cid}}/0">
                                {{content.category.name}} </a> | 已围
                                <span id="count">
                                    {{content.views}}</span>次
                            </div>
                        </header>
                        <div>
                            {{@ content.content }} 
                        </div>
                        {{if content.tags}}      
                          <div > 
                              {{each content.tags tag}}
                              <a class="label label-primary" href="/tag-{{ tag.cid }}-page-0">{{tag.name}}</a>
                              {{/each}}
                        </div>
                       {{/if}}
                        {{if content.originalLink}}      
                          <div > <a  class="text-muted h6" rel="nofollow"  href="{{ content.originalLink }} " >原文链接</a></div>
                       {{/if}}
                 
                    </article>
                </div>
            </div>
            <aside class="col-lg-4 ">
                {{ include "./aside.html" }}
            </aside>
        </div>
    </section>
    <footer>
        {{ include "./footer.html" }}
    </footer>
</body>

<script>
    start()
    $(window).on('scroll', function () {
        start()
    })

    function start() {
        //.not('[data-isLoaded]')选中已加载的图片不需要重新加载
        $('article img').not('[data-isLoaded]').each(function () {
            var $node = $(this)
            if (isShow($node)) {
                loadImg($node)
            }
        })
    }

    //判断一个元素是不是出现在窗口(视野)
    function isShow($node) {
        return $node.offset().top <= $(window).height() + $(window).scrollTop()
    }
    //加载图片
    function loadImg($img) {
        //.attr(值)
        //.attr(属性名称,值)
        $img.attr('src', $img.attr('data-src')) //把data-src的值 赋值给src
        $img.attr('data-isLoaded', 1)//已加载的图片做标记
    }
</script>

</html>