<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container"><a class="navbar-brand" href="/"><i class="fa fa-cube"></i>Project name</a><button
                class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse">
                <div class="dropdown-divider"></div>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api">API Examples</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    {{ if user }}
                           <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><img
                                    src="https://gravatar.com/avatar/34be3c7c0655313619d9b91a7e6f1ee6?s=60&amp;d=retro"
                                    alt="admin@qq.com"><span>{{user.profile.name || user.username || user.id}}</span><i class="caret"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/account">My Account</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signup">Create Account</a></li>
                    {{ /if  }}
                </ul>
            </div>
        </div>
    </nav>
</header>