<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container"><a class="navbar-brand" href="/"><i class="fa fa-cube"></i>Project name</a><button
                class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse">
                <div class="dropdown-divider"></div>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api">API Examples</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="#"
                            data-toggle="dropdown"><img
                                src="https://gravatar.com/avatar/34be3c7c0655313619d9b91a7e6f1ee6?s=60&amp;d=retro"
                                alt="admin@qq.com"><span>admin@qq.com</span><i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="/account">My Account</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container pl-sm-0 pr-sm-0 pl-lg-3 pr-lg-3">
        <div class="alert alert-success fade show"><button class="close" type="button" data-dismiss="alert"><i
                    class="fa fa-times-circle-o"></i></button>
            <div>Success! You are logged in.</div>
        </div>
        <div class="page-header">
            <h3>Profile Information</h3>
            <hr>
        </div>
        <form class="form-horizontal" action="/account/profile" method="POST"><input type="hidden" name="_csrf">
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="email">Email</label>
                <div class="col-sm-7"><input class="form-control" type="email" name="email" id="email"
                        value="admin@qq.com"></div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="name">Name</label>
                <div class="col-sm-7"><input class="form-control" type="text" name="name" id="name"></div>
            </div>
            <div class="form-group row justify-content-md-center align-items-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold">Gender</label>
                <div class="col-sm-7">
                    <div class="form-check form-check-inline"><input class="form-check-input" id="option-male"
                            type="radio" name="gender" value="male" data-toggle="radio"><label class="form-check-label"
                            for="option-male">Male</label></div>
                    <div class="form-check form-check-inline"><input class="form-check-input" id="option-female"
                            type="radio" name="gender" value="female" data-toggle="radio"><label
                            class="form-check-label" for="option-female">Female</label></div>
                    <div class="form-check form-check-inline"><input class="form-check-input" id="option-other"
                            type="radio" name="gender" value="other" data-toggle="radio"><label class="form-check-label"
                            for="option-other">Other</label></div>
                </div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="location">Location</label>
                <div class="col-sm-7"><input class="form-control" type="text" name="location" id="location"></div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="website">Website</label>
                <div class="col-sm-7"><input class="form-control" type="text" name="website" id="website"></div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold">Gravatar</label>
                <div class="col-sm-7"><img class="profile"
                        src="https://gravatar.com/avatar/34be3c7c0655313619d9b91a7e6f1ee6?s=200&amp;d=retro" width="100"
                        height="100" alt="admin@qq.com"></div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-sm-4"><button class="btn btn btn-primary" type="submit"><i
                            class="fa fa-pencil"></i>Update Profile</button></div>
            </div>
        </form>
        <div class="page-header">
            <h3>Change Password</h3>
            <hr>
        </div>
        <form class="form-horizontal" action="/account/password" method="POST"><input type="hidden" name="_csrf">
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="password">New Password</label>
                <div class="col-sm-7"><input class="form-control" type="password" name="password" id="password"></div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="confirmPassword">Confirm
                    Password</label>
                <div class="col-sm-7"><input class="form-control" type="password" name="confirmPassword"
                        id="confirmPassword"></div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-sm-4"><button class="btn btn-primary" type="submit"><i class="fa fa-lock"></i>Change
                        Password</button></div>
            </div>
        </form>
        <div class="page-header">
            <h3>Delete Account</h3>
            <hr>
        </div>
        <form class="form-horizontal" action="/account/delete" method="POST">
            <div class="form-group row justify-content-md-center">
                <p class="offset-sm-3 col-sm-7">You can delete your account, but keep in mind this action is
                    irreversible.</p><input type="hidden" name="_csrf">
                <div class="col-sm-4"><button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i>Delete my
                        account</button></div>
            </div>
        </form>
        <div class="page-header">
            <h3>Linked Accounts</h3>
            <hr>
        </div>
        <div class="form-horizontal">
            <div class="form-group row justify-content-md-center">
                <div class="offset-sm-3 col-sm-7">
                    <p><a href="/auth/facebook">Link your Facebook account</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container text-center">
            <p class="pull-left">© 2018 Company, Inc. All Rights Reserved</p><span></span>
        </div>
    </footer>
    <script src="/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
    <script src="/js/main.js"></script>
    <script>window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-38177297-2', 'auto'); ga('send', 'pageview')</script>
    <script src="https://www.google-analytics.com/analytics.js" async="" defer=""></script>
    <div class="xl-chrome-ext-bar" id="xl_chrome_ext_{4DB361DE-01F7-4376-B494-639E489D19ED}" style="display: none;">
        <div class="xl-chrome-ext-bar__logo"></div>

        <a id="xl_chrome_ext_download" href="javascript:;" class="xl-chrome-ext-bar__option">下载视频</a>
        <a id="xl_chrome_ext_close" href="javascript:;" class="xl-chrome-ext-bar__close"></a>
    </div>
</body>