<!DOCTYPE html>
<html>

<head>
    <title>我要哈哈，轻松一刻</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="首页" />
    <meta name="description" content="描述" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
</head>

<body>
    {{include './header.html'}}
    <div class="container pl-sm-0 pr-sm-0 pl-lg-3 pr-lg-3">
        <div class="alert alert-success fade show"><button class="close" type="button" data-dismiss="alert"><i
                    class="fa fa-times-circle-o"></i></button>
            <div>Success! You are logged in.</div>
        </div>
        <div class="page-header">
            <h3>Profile Information</h3>
            <hr>
        </div>
        <form class="form-horizontal" action="/account/profile" method="POST"><input type="hidden" name="_csrf">
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="email">Email</label>
                <div class="col-sm-7"><input class="form-control" type="text" name="email" id="email"
                        value="{{user.email}}"></div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="name">Name</label>
                <div class="col-sm-7"><input class="form-control" type="text" name="name" id="name"
                        value="{{user.profile.name}}"></div>
            </div>
            <div class="form-group row justify-content-md-center align-items-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold">Gender</label>
                <div class="col-sm-7">
                    <div class="form-check form-check-inline"><input class="form-check-input" id="option-male"
                            type="radio" name="gender" value="male" checked="{{user.profile.gender==='male'}}"
                            data-toggle="radio"><label class="form-check-label" for="option-male">Male</label></div>
                    <div class="form-check form-check-inline"><input class="form-check-input" id="option-female"
                            type="radio" name="gender" value="female" checked="{{user.profile.gender==='female'}}"
                            data-toggle="radio"><label class="form-check-label" for="option-female">Female</label></div>
                    <div class="form-check form-check-inline"><input class="form-check-input" id="option-other"
                            type="radio" name="gender" value="other" checked="{{user.profile.gender==='other'}}"
                            data-toggle="radio"><label class="form-check-label" for="option-other">Other</label></div>
                </div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="location">Location</label>
                <div class="col-sm-7"><input class="form-control" value="{{user.profile.location}}" type="text"
                        name="location" id="location"></div>
            </div>
            <div class="form-group row justify-content-md-center">
                <label class="col-sm-3 col-form-label text-right font-weight-bold" for="website">Website</label>
                <div class="col-sm-7"><input class="form-control" type="text" name="website"
                        value="{{user.profile.website}}" id="website"></div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold">Gravatar</label>
                <div class="col-sm-7"><img class="profile"
                        src="https://gravatar.com/avatar/34be3c7c0655313619d9b91a7e6f1ee6?s=200&amp;d=retro" width="100"
                        height="100" alt="admin@qq.com"></div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-sm-4"><button class="btn btn btn-primary" type="submit"><i
                            class="fa fa-pencil"></i>更新个人资料</button></div>
            </div>
        </form>
        <div class="page-header">
            <h3>Change Password</h3>
            <hr>
        </div>
        <form class="form-horizontal" action="/account/password" method="POST">
            <input type="hidden" name="_csrf">
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="password">New Password</label>
                <div class="col-sm-7"><input class="form-control" type="password" name="password" id="password"></div>
            </div>
            <div class="form-group row justify-content-md-center"><label
                    class="col-sm-3 col-form-label text-right font-weight-bold" for="confirmPassword">Confirm
                    Password</label>
                <div class="col-sm-7"><input class="form-control" type="password" name="confirmPassword"
                        id="confirmPassword"></div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-sm-4"><button class="btn btn-primary" type="submit"><i class="fa fa-lock"></i>修改密码</button></div>
            </div>
        </form>
        <div class="page-header">
            <h3>Delete Account</h3>
            <hr>
        </div>
        <form class="form-horizontal" action="/account/delete" method="POST">
            <div class="form-group row justify-content-md-center">
                <p class="offset-sm-3 col-sm-7">You can delete your account, but keep in mind this action is
                    irreversible.</p><input type="hidden" name="_csrf">
                <div class="col-sm-4"><button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i>Delete my
                        account</button></div>
            </div>
        </form>
        <div class="page-header">
            <h3>Linked Accounts</h3>
            <hr>
        </div>
        <div class="form-horizontal">
            <div class="form-group row justify-content-md-center">
                <div class="offset-sm-3 col-sm-7">
                    <p><a href="/auth/facebook">Link your Facebook account</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container text-center">
            <p class="pull-left">© 2018 Company, Inc. All Rights Reserved</p><span></span>
        </div>
    </footer>
    <script src="/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
    <script src="/js/main.js"></script>


</body>

</html>